body {
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login {
    padding: 1em;
    border: solid 2px black;
    text-align: center;
    border-radius: 3px;
}

input {
    margin: 2em;
}

input[type=button] {
    background: white;
}

input[type=button]:hover {
    box-shadow: black 0 0 0.5px 0.5px;
}

#logo {
    width: 10em;
    border-radius: 50%;
    position: absolute;
    right: 1em;
    bottom: 1em;
    border: solid 2px white;
}

#hints {
    padding: 1em;
}